* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: #2e2e2e;
}

input {
  border: none;
  outline: none;
}

a {
  color: blue;
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

main {
  max-width: 100vw;
}

.icon {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.2rem;
  background-color: green;
  color: white;
}

.flashes {
  width: 100%;
  z-index: 10;
  font-family: Helvetica;
  list-style: none;
}
.flashes li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  color: white;
  background-color: #742424;
}
.flashes li button {
  background-color: rgba(255, 255, 255, 0);
}
.flashes li button span {
  font-size: 1.4rem;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cssAnimation {
  opacity: 1;
  opacity: 1;
  opacity: 0;
}
.main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  padding: 1rem 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-family: Helvetica;
  border-bottom: solid 2px #202020;
}
.main-head .title {
  font-size: 1.1rem;
}
.main-head .but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100%;
}
.main-head .but .link {
  font-size: 1rem;
  color: #c9c9c9;
  margin-left: 0.8rem;
  text-align: center;
}
.main-head .but .link:hover {
  cursor: pointer;
}
.main-head .but a {
  font-size: inherit;
  position: relative;
  white-space: nowrap;
  margin-left: 1rem;
}
.main-head .but .menuicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #939393;
  position: relative;
}
.main-head .but .drop {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #202020;
  top: 3rem;
  right: -1rem;
}
.main-head .but .show {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 0.5rem 0;
}
.main-head .but .show a, .main-head .but .show span {
  margin: 0;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
.main-head .but .show span:hover, .main-head .but .show a:hover {
  background-color: #2e2e2e;
}
.main-head .but .log {
  color: #464646;
  margin-left: 1rem;
  margin-right: 1rem;
}
.main-head .but .log span {
  font-size: 2rem;
}
.main-head .but .log span:hover {
  cursor: default;
}
.main-head .but .close {
  color: #afafaf;
}
.main-head .but .ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  color: #c9c9c9;
  font-size: 1rem;
  font-family: Helvetica;
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 0.5rem;
  padding-right: 0.8rem;
}
.main-head .but .ask span:first-child {
  margin-right: 0.5rem;
  margin-left: 0.1rem;
}
.main-head .but .ask:hover {
  background-color: #3a3a3a;
}

* {
  color: white;
  font-family: Helvetica;
}

body main {
  position: absolute;
  z-index: -10;
  width: 100%;
}
body main .query_list {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: calc(100vh - 4rem);
  background-color: #202020;
}
body main .query_list .query {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  background-color: #636363;
  border-top: 2px solid #a5a5a5;
  padding: 0.5rem 0.5rem;
}
body main .query_list .query #name {
  text-align: start;
}
body main .query_list .query #price {
  text-align: end;
}
body main .query_list .query span {
  overflow: hidden;
  text-overflow: ellipsis;
}
body main .query_list .query:first-child {
  border: none;
}
body main .noquery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
body .query_open_item {
  position: absolute;
  z-index: 2;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: #2e2e2e;
}
body .query_open_item .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0.5rem;
}
body .query_open_item .query_options {
  padding: 1rem 0.5rem;
}
body .query_open_item .query_options .del {
  background-color: #742424;
}
body .query_open_item .query_options .close {
  background-color: #808080;
}
body .query_open_item .created_at {
  font-style: italic;
  color: #939393;
}
body .query_open_item .secondata div {
  color: #c9c9c9;
}
body .query_open_item .comm {
  padding: 1rem 0.5rem;
  word-break: break-all;
}
body .query_open_item .productslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background-color: #202020;
  padding: 0 0.5rem;
}
body .query_open_item .productslist .product {
  padding: 1rem 0;
  border-top: 2px solid #939393;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.3rem;
  -ms-grid-rows: 1fr 0.3rem 1fr;
  -ms-grid-columns: 2fr 0.3rem 1fr 0.3rem 1fr;
      grid-template: 1fr 1fr/2fr 1fr 1fr;
}
body .query_open_item .productslist .product .units, body .query_open_item .productslist .product .bulks, body .query_open_item .productslist .product .quantity, body .query_open_item .productslist .product .price, body .query_open_item .productslist .product .weight, body .query_open_item .productslist .product .bulk {
  text-align: center;
}
body .query_open_item .productslist .product .detail, body .query_open_item .productslist .product .typo, body .query_open_item .productslist .product .price, body .query_open_item .productslist .product .weight, body .query_open_item .productslist .product .quantity, body .query_open_item .productslist .product .bulk {
  color: #939393;
}
body .query_open_item .productslist .totals {
  border-top: 2px solid #939393;
  padding: 0.4rem 0;
  margin-top: auto;
}
body .query_open_item .productslist .product:first-child {
  border: none;
}
body .areusure {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Helvetica;
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #2e2e2e;
  border: 0.2rem solid #939393;
  color: white;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body .areusure button {
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  color: white;
}
body .areusure .adv-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.3rem;
}
body .areusure .adv-options .nain {
  font-size: 1.2rem;
  background-color: #808080;
}
body .areusure .adv-options .yes {
  font-size: 1.2rem;
  background-color: #e01818;
}
body .message {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  border-radius: 1rem;
  border: 1px solid #939393;
  padding: 0 1rem;
  background-color: #2e2e2e;
}
body .message form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 0.8rem;
}
body .message form .mmhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 16px;
}
body .message form .mmhead button {
  margin: 0;
}
body .message form textarea {
  margin-bottom: 0.3rem;
}
body .message form .subtitle {
  text-align: left;
  font-size: 1rem;
  margin: 0.5rem 0;
}
body .message form .subtitle .mmclose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: absolute;
  top: 14px;
  right: 16px;
  border-radius: 0.3rem;
  background-color: #939393;
}
body .message form .subtitle .mmclose span {
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
}
body .message form textarea {
  border: none;
  background-color: #202020;
  resize: none;
  outline: none;
  padding: 0.4rem;
  width: 16rem;
}
body .message form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  background-color: #742424;
  margin: 0.9rem 15%;
}